@model ERecruitmentSystem02.Models.View.RegisterANDApply
@addTagHelper *, DNTCaptcha.Core

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

@if (Model != null && Model.BaseResponse != null && Model.BaseResponse.Status != null)
{
    <div class="alert alert-danger">
        @Model.BaseResponse.Message
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <form asp-controller="JobApply" asp-action="RegistrationAndApply" method="post" enctype="multipart/form-data">

                <div class="bg-success pt-1 pb-1 text-white text-center">
                    <p class="m-0 fs-6 fw-bold">New Applicant</p>
                </div>

                <div class="d-block mb-8">&nbsp;</div>

                <div class="mb-3 form-group row">
                    <label class="col-form-label-sm col-sm-4"><b>Applying For: </b></label>
                    <div class="col-sm-8">
                        <label class="col-form-label-sm col-sm-4"><b>@Model.Job.Position</b></label>
                    </div>

                    <input asp-for="Job.JobID" class="form-control form-control-sm" type="text" hidden />
                    <input asp-for="Job.Position" class="form-control form-control-sm" type="text" hidden/>

                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.CareerObjective" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="UsersDetails.CareerObjective" class="form-control form-control-sm" rows="4">
                        </textarea>
                        <span asp-validation-for="UsersDetails.CareerObjective" class="text-danger"></span>
                    </div>

                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersBasic.Name" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersBasic.Name" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersBasic.Name" class="text-danger"></span>
                    </div>

                </div>


                <div class="mb-2 form-group row">
                    <label asp-for="UsersBasic.Sex" class="form-label col-form-label-sm col-sm-4">SEX</label>
                    <div class="col-sm-8">
                        <div class="d-flex gap-3">
                            <div class="form-check form-check-inline">
                                <input asp-for="UsersBasic.Sex" type="radio" class="form-check-input" value="Male" id="male" />
                                <label for="male" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="UsersBasic.Sex" type="radio" class="form-check-input" value="Female" id="female" />
                                <label for="female" class="form-check-label">Female</label>
                            </div>
                            @* <div class="form-check form-check-inline"> *@
                            @*     <input asp-for="UsersBasic.Sex" type="radio" class="form-check-input" value="Other" id="other" /> *@
                            @*     <label for="other" class="form-check-label">Other</label> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.MaritalStatus" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <select asp-for="UsersDetails.MaritalStatus" class="form-control form-control-sm">
                            <option value="-1" selected>--Select--</option>
                            <option value="Married">Married</option>
                            <option value="Single">Single</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Widow">Widow</option>
                        </select>
                        <span asp-validation-for="UsersDetails.HomeDistrict" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.Religion" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <select asp-for="UsersDetails.Religion" class="form-control form-control-sm">
                            <option value="-1" selected>--Select--</option>
                            <option value="Islam">Islam</option>
                            <option value="Hinduism">Hinduism</option>
                            <option value="Buddhism">Buddhism</option>
                            <option value="Christianity">Christianity</option>
                            <option value="Jainism">Jainism</option>
                            <option value="Sikhism">Sikhism</option>
                            <option value="Judaism">Judaism</option>
                            <option value="Confucianism">Confucianism</option>
                        </select>
                        <span asp-validation-for="UsersDetails.MaritalStatus" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersBasic.DateOfBirth" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersBasic.DateOfBirth" class="form-control form-control-sm datej" type="date" />
                        <span asp-validation-for="UsersBasic.DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                @* ............*@

                @* ............ *@

                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.FathersName" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.FathersName" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.FathersName" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.MothersName" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.MothersName" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.MothersName" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.Spouse" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.Spouse" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.Spouse" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row ">
                    <label asp-for="UsersBasic.Nationality" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersBasic.Nationality" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersBasic.Nationality" class="text-danger"></span>
                    </div>
                </div>

                @*Present Address...*@
                <div class="d-block mb-8">&nbsp;</div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PresentAreaOrVillageOrHouseOrRoad" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PresentAreaOrVillageOrHouseOrRoad" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PresentAreaOrVillageOrHouseOrRoad" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PresentPostOffice" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PresentPostOffice" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PresentPostOffice" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PresentPoliceStation" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PresentPoliceStation" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PresentPoliceStation" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PresentPostalCode" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PresentPostalCode" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PresentPostalCode" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PresentDistrict" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PresentDistrict" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PresentDistrict" class="text-danger"></span>
                    </div>
                </div>



                @*Permanent Address...*@

                <div class="d-block mb-8">&nbsp;</div>


                <div class="mb-3 form-group row">
                    <label for="gridCheck1" class="col-form-label-sm col-sm-4">Permanent Address</label>
                    <div class="col-sm-8">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label for="gridCheck1">Same As Present Address</label>
                    </div>
                </div>

                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PermanentAreaOrVillageOrHouseOrRoad" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PermanentAreaOrVillageOrHouseOrRoad" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PermanentAreaOrVillageOrHouseOrRoad" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PermanentPostOffice" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PermanentPostOffice" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PermanentPostOffice" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PermanentPoliceStation" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PermanentPoliceStation" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PermanentPoliceStation" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PermanentPostalCode" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PermanentPostalCode" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PermanentPostalCode" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.PermanentDistrict" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersDetails.PermanentDistrict" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersDetails.PermanentDistrict" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-block mb-8">&nbsp;</div>

                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.HomeDistrict" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <select asp-for="UsersDetails.HomeDistrict" class="form-control form-control-sm">
                            <option value="-1" selected>--Select--</option>
                            <option value="Bhola">Bhola</option>
                            <option value="Bogra">Bogra</option>
                        </select>
                        <span asp-validation-for="UsersDetails.HomeDistrict" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 form-group row">
                    <label asp-for="UsersBasic.Email" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersBasic.Email" class="form-control form-control-sm" type="email" />
                        <span asp-validation-for="UsersBasic.Email" class="text-danger"></span>
                    </div>
                </div>



                <div class="mb-3 form-group row">
                    <label asp-for="UsersBasic.NationalIdCardNo" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersBasic.NationalIdCardNo" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersBasic.NationalIdCardNo" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3 form-group row">
                    <label asp-for="UsersBasic.ContactMobileNo" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersBasic.ContactMobileNo" class="form-control form-control-sm" type="text" />
                        <span asp-validation-for="UsersBasic.ContactMobileNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-block mb-8">&nbsp;</div>
                @* Result form...... *@

                <div class="bg-success pt-1 pb-1 text-white text-center">
                    <p class="m-0 fs-6 fw-bold">Educational Qualification(Board/University & Year Of Passing)</p>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center align-middle external-styles">
                        <thead class="text-center align-middle">
                            <tr>
                                <th rowspan="2" scope="col">Level</th>
                                <th class="examname-division" rowspan="2" scope="col">Name of Examination</th>
                                <th class="subject-board" rowspan="2" scope="col">Group/Subject</th>
                                <th class="examname-division" rowspan="2" scope="col"> Division/<br />Class/Grade </th>
                                <th colspan="2" scope="col">Grade</th>
                                <th class="grade-year-roll-col" rowspan="2" scope="col">Roll No</th>
                                <th class="subject-board" rowspan="2" scope="col">Board/University</th>
                                <th class="grade-year-roll-col" rowspan="2" scope="col">Year Of Passing [yyyy]</th>
                            </tr>
                            <tr>
                                <th class="grade-year-roll-col" scope="col">GPA/CGPA</th>
                                <th class="grade-year-roll-col" scope="col">Out Of</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> SSC <br />/Equivalent </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[0].NameOfExamination">
                                        <option value="SSC" selected>SSC</option>
                                        <option value="Dakhil">Dakhil</option>
                                        <option value="O Level">O Level</option>
                                        <option value="SSC Vocational">SSC Vocational</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[0].GroupOrSubject">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Science">Science</option>
                                        <option value="Humanities">Humanities</option>
                                        <option value="Commerse">Commerse</option>
                                        <option value="Business">Business Studies</option>
                                        <option value="General">General</option>
                                        <option value="Others">Others</option>

                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[0].DivisionOrClassOrGrade" id="SscGradeSelect">
                                        <option selected>--Select--</option>
                                        <option>First</option>
                                        <option>Second</option>
                                        <option>Grade</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[0].GpaOrCgpa" id="sscGpa" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[0].GpaOrCgpa" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[0].GpaOutOf" id="sscOutOf" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[0].GpaOutOf" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[0].RollNo">
                                    <span asp-validation-for="UsersEducationalQualifications[0].RollNo" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[0].BoardOrUnicersity">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Dhaka">Dhaka</option>
                                        <option value="Chittagong">Chittagong</option>
                                        <option value="Rajshahi">Rajshahi</option>
                                        <option value="Khulna">Khulna</option>
                                        <option value="Barisal">Barisal</option>
                                        <option value="Sylhet">Sylhet</option>
                                        <option value="Comilla">Comilla</option>
                                        <option value="Mymensingh">Mymensingh</option>
                                        <option value="Madrasah">Madrasah</option>
                                        <option value="Technical">Technical</option>
                                        <option value="National University">National University</option>
                                        <option value="Other">Other</option>

                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[0].PassingYear">
                                    <span asp-validation-for="UsersEducationalQualifications[0].PassingYear" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td> HSC <br />/Equivalent </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[1].NameOfExamination">
                                        <option value="HSC">HSC</option>
                                        <option value="Alim">Alim</option>
                                        <option value="A Level">A Level</option>
                                        <option value="Diploma">Diploma</option>

                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[1].GroupOrSubject">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Science">Science</option>
                                        <option value="Humanities">Humanities</option>
                                        <option value="Commerse">Commerse</option>
                                        <option value="Business">Business Studies</option>
                                        <option value="General">General</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[1].DivisionOrClassOrGrade" id="HscGradeSelect">
                                        <option selected>--Select--</option>
                                        <option>First</option>
                                        <option>Second</option>
                                        <option>Grade</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[1].GpaOrCgpa" id="hscGpa" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[1].GpaOrCgpa" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[1].GpaOutOf" id="hscOutOf" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[1].GpaOutOf" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[1].RollNo">
                                    <span asp-validation-for="UsersEducationalQualifications[1].RollNo" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[1].BoardOrUnicersity">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Dhaka">Dhaka</option>
                                        <option value="Chittagong">Chittagong</option>
                                        <option value="Rajshahi">Rajshahi</option>
                                        <option value="Khulna">Khulna</option>
                                        <option value="Barisal">Barisal</option>
                                        <option value="Sylhet">Sylhet</option>
                                        <option value="Comilla">Comilla</option>
                                        <option value="Mymensingh">Mymensingh</option>
                                        <option value="Madrasah">Madrasah</option>
                                        <option value="Technical">Technical</option>
                                        <option value="National University">National University</option>
                                        <option value="Other">Other</option>

                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[1].PassingYear">
                                    <span asp-validation-for="UsersEducationalQualifications[1].PassingYear" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td> Graduation </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[2].NameOfExamination">
                                        <option value="-1" selected>--Select--</option>
                                        @if (Model != null && Model.Grad != null)
                                        {
                                            foreach (string deg in Model.Grad)
                                            {
                                                <option>@deg</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="BSc">BSc</option>
                                            <option value="BA">BA</option>
                                            <option value="BBA">BBA</option>
                                            <option value="BCom">BCom</option>
                                            <option value="LLB">LLB</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[2].GroupOrSubject">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="CSE">CSE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="English">English</option>
                                        <option value="History">History</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Finance">Finance</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Economics">Economics</option>
                                        <option value="CivilLaw">Civil Law</option>
                                        <option value="CorporateLaw">Corporate Law</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[2].DivisionOrClassOrGrade" id="GrGradeSelect">
                                        <option selected>--Select--</option>
                                        <option>First</option>
                                        <option>Second</option>
                                        <option>Grade</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[2].GpaOrCgpa" id="grCgpa" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[2].GpaOrCgpa" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[2].GpaOutOf" id="grOutOf" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[2].GpaOutOf" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[2].RollNo">
                                    <span asp-validation-for="UsersEducationalQualifications[2].RollNo" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[2].BoardOrUnicersity">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="DU">Dhaka University (DU)</option>
                                        <option value="JU">Jahangirnagar University (JU)</option>
                                        <option value="RU">Rajshahi University (RU)</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[2].PassingYear">
                                    <span asp-validation-for="UsersEducationalQualifications[2].PassingYear" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td> Post <br />Graduation 1</td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[3].NameOfExamination">
                                        <option value="-1" selected>--Select--</option>
                                        @if (Model != null && Model.PostGrad != null)
                                        {
                                            foreach (string deg in Model.PostGrad)
                                            {
                                                <option>@deg</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="MSc">MSc</option>
                                            <option value="MA">MA</option>
                                            <option value="MBA">MBA</option>
                                            <option value="MCom">MCom</option>
                                            <option value="MEng">MEng</option>
                                            <option value="Others">Others</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[3].GroupOrSubject">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Physics">Physics</option>
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Economics">Economics</option>
                                        <option value="English">English</option>
                                        <option value="BusinessAdministration">Business Administration</option>
                                        <option value="ComputerScience">Computer Science</option>
                                        <option value="Law">Law</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[3].DivisionOrClassOrGrade" id="Pg1GradeSelect">
                                        <option selected>--Select--</option>
                                        <option>First</option>
                                        <option>Second</option>
                                        <option>Grade</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[3].GpaOrCgpa" id="pg1Cgpa" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[3].GpaOrCgpa" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[3].GpaOutOf" id="pg1OutOf" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[3].GpaOutOf" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[3].RollNo">
                                    <span asp-validation-for="UsersEducationalQualifications[3].RollNo" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[3].BoardOrUnicersity">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="DU">Dhaka University (DU)</option>
                                        <option value="JU">Jahangirnagar University (JU)</option>
                                        <option value="RU">Rajshahi University (RU)</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[3].PassingYear">
                                    <span asp-validation-for="UsersEducationalQualifications[3].PassingYear" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td> Post <br /> Graduation 2 </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[4].NameOfExamination">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="MSc">MSc</option>
                                        <option value="MA">MA</option>
                                        <option value="MBA">MBA</option>
                                        <option value="MCom">MCom</option>
                                        <option value="MEng">MEng</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[4].GroupOrSubject">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Physics">Physics</option>
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Economics">Economics</option>
                                        <option value="English">English</option>
                                        <option value="BusinessAdministration">Business Administration</option>
                                        <option value="ComputerScience">Computer Science</option>
                                        <option value="Law">Law</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[4].DivisionOrClassOrGrade" id="Pg2GradeSelect">
                                        <option selected>--Select--</option>
                                        <option>First</option>
                                        <option>Second</option>
                                        <option>Grade</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[4].GpaOrCgpa" id="pg2Cgpa" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[4].GpaOrCgpa" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[4].GpaOutOf" id="pg2OutOf" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[4].GpaOutOf" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[4].RollNo">
                                    <span asp-validation-for="UsersEducationalQualifications[4].RollNo" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[4].BoardOrUnicersity">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="DU">Dhaka University (DU)</option>
                                        <option value="JU">Jahangirnagar University (JU)</option>
                                        <option value="RU">Rajshahi University (RU)</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[4].PassingYear">
                                    <span asp-validation-for="UsersEducationalQualifications[4].PassingYear" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td> Post <br /> Graduation 3 </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[5].NameOfExamination">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="MSc">MSc</option>
                                        <option value="MA">MA</option>
                                        <option value="MBA">MBA</option>
                                        <option value="MCom">MCom</option>
                                        <option value="MEng">MEng</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[5].GroupOrSubject">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Physics">Physics</option>
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Economics">Economics</option>
                                        <option value="English">English</option>
                                        <option value="BusinessAdministration">Business Administration</option>
                                        <option value="ComputerScience">Computer Science</option>
                                        <option value="Law">Law</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[5].DivisionOrClassOrGrade" id="Pg3GradeSelect">
                                        <option selected>--Select--</option>
                                        <option>First</option>
                                        <option>Second</option>
                                        <option>Grade</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[5].GpaOrCgpa" id="pg3Cgpa" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[5].GpaOrCgpa" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[5].GpaOutOf" id="pg3OutOf" readonly>
                                    <span asp-validation-for="UsersEducationalQualifications[5].GpaOutOf" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[5].RollNo">
                                    <span asp-validation-for="UsersEducationalQualifications[5].RollNo" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersEducationalQualifications[5].BoardOrUnicersity">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="DU">Dhaka University (DU)</option>
                                        <option value="JU">Jahangirnagar University (JU)</option>
                                        <option value="RU">Rajshahi University (RU)</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" asp-for="UsersEducationalQualifications[5].PassingYear">
                                    <span asp-validation-for="UsersEducationalQualifications[5].PassingYear" class="text-danger" style="font-size: 0.75rem;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @* Result form...... *@
                <div class="d-block mb-8">&nbsp;</div>

                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.HasExperience" class="col-form-label-sm col-sm-4 pt-0"></label>
                    <div class="col-sm-8">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="UsersDetails.HasExperience" value="Yes" checked>
                            <label class="form-check-label" for="HasExperience">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="UsersDetails.HasExperience" value="No">
                            <label class="form-check-label" for="HasExperience">No</label>
                        </div>
                    </div>
                </div>
                @* Experience form...... *@
                <div class="bg-success pt-1 pb-1 text-white text-center">
                    <p class="m-0 fs-6 fw-bold"> Experience</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center align-middle external-styles">
                        <thead class="text-center align-middle">
                            <tr>
                                <th class="norm-fields ext-pd">Designation</th>
                                <th class="norm-fields">Name of Organization</th>
                                <th class="job-type">Job Type</th>
                                <th class="norm-fields">Responsibilities</th>
                                <th class="datefields">Joining Date</th>
                                <th class="datefields">Release Date</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[0].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[0].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[0].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[0].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[0].JoiningDate"></td>
                                <td>
                                    <input type="date" class="form-control form-control-sm datej" id="to-continue-inp" asp-for="UsersExperiences[0].ReleaseDate">

                                    <div class="form-check">
                                        <input asp-for="UsersExperiences[0].Continuing" class="form-check-input" type="checkbox" id="to-continue-check">
                                        <label class="form-check-label" for="to-continue-check">To Continue</label>
                                    </div>

                                </td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[1].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[1].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[1].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[1].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[1].JoiningDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[1].ReleaseDate"></td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[2].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[2].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[2].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[2].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[2].JoiningDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[2].ReleaseDate"></td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[3].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[3].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[3].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[3].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[3].JoiningDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[3].ReleaseDate"></td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[4].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[4].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[4].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[4].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[4].JoiningDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[4].ReleaseDate"></td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[5].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[5].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[5].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[5].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[5].JoiningDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[5].ReleaseDate"></td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[6].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[6].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[6].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[6].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[6].JoiningDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[6].ReleaseDate"></td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[7].Designation"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[7].NameOfOrganization"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersExperiences[7].JobType">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                        <option value="Contractual">Contractual</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersExperiences[7].Responsibilities"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[7].JoiningDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersExperiences[7].ReleaseDate"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @* Experience form...... *@


                <div class="d-block mb-8">&nbsp;</div>
                @* Professional Certification form...... *@
                <div class="bg-success pt-1 pb-1 text-white text-center">
                    <p class="m-0 fs-6 fw-bold">Professional Certification</p>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center align-middle external-styles">
                        <thead class="text-center align-middle">
                            <tr>
                                <th class="in-form-area ext-pd">Certification</th>
                                <th class="norm-fields">Name of Institution</th>
                                <th class="norm-fields">Location</th>
                                <th class="datefields">Joining Date</th>
                                <th class="datefields">Release Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><textarea class="form-control form-control-sm" asp-for="UsersPersonalCertifications[0].Certification"></textarea></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[0].NameOfInstitution"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[0].Location"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[0].FromDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[0].ToDate"></td>
                            </tr>

                            <tr>
                                <td><textarea class="form-control form-control-sm" asp-for="UsersPersonalCertifications[1].Certification"></textarea></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[1].NameOfInstitution"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[1].Location"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[1].FromDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[1].ToDate"></td>
                            </tr>

                            <tr>
                                <td><textarea class="form-control form-control-sm" asp-for="UsersPersonalCertifications[2].Certification"></textarea></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[2].NameOfInstitution"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[2].Location"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[2].FromDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[2].ToDate"></td>
                            </tr>

                            <tr>
                                <td><textarea class="form-control form-control-sm" asp-for="UsersPersonalCertifications[3].Certification"></textarea></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[3].NameOfInstitution"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[3].Location"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[3].FromDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[3].ToDate"></td>
                            </tr>

                            <tr>
                                <td><textarea class="form-control form-control-sm" asp-for="UsersPersonalCertifications[4].Certification"></textarea></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[4].NameOfInstitution"></td>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersPersonalCertifications[4].Location"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[4].FromDate"></td>
                                <td><input type="date" class="form-control form-control-sm datej" asp-for="UsersPersonalCertifications[4].ToDate"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @* Professional Certification form...... *@

                <div class="d-block mb-8">&nbsp;</div>

                @* Language Proficiency form...... *@
                <div class="bg-success pt-1 pb-1 text-white text-center">
                    <p class="m-0 fs-6 fw-bold">Language Proficiency</p>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center align-middle external-styles">
                        <thead class="text-center align-middle">
                            <tr>
                                <th class="norm-fields ext-pd">Language Name</th>
                                <th class="language-selection">Speaking</th>
                                <th class="language-selection">Reading</th>
                                <th class="language-selection">Listening</th>
                                <th class="language-selection">Writing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm" value="Bangla" readonly asp-for="UsersLanguageproficiencies[0].LanguageName"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[0].Speaking">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[0].Reading">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[0].Listening">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[0].Writing">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" value="English" readonly asp-for="UsersLanguageproficiencies[1].LanguageName"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[1].Speaking">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[1].Reading">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[1].Listening">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[1].Writing">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="text" class="form-control form-control-sm" asp-for="UsersLanguageproficiencies[2].LanguageName"></td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[2].Speaking">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[2].Reading">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[2].Listening">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" asp-for="UsersLanguageproficiencies[2].Writing">
                                        <option value="-1" selected>--Select--</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @* Language Proficiency form...... *@


                <div class="d-block mb-8">&nbsp;</div>
                <div class="d-block mb-8">&nbsp;</div>

                <div class="mb-3 form-group row">
                    <label asp-for="UsersDetails.ComputerLiteracy" class="col-form-label-sm col-sm-3"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="UsersDetails.ComputerLiteracy" class="form-control form-control-sm" rows="4">
                        </textarea>
                        <span asp-validation-for="UsersDetails.ComputerLiteracy" class="text-danger"></span>
                    </div>

                </div>

                <div class="d-block mb-8">&nbsp;</div>
                <div class="d-block mb-8">&nbsp;</div>

                @* References form...... *@
                <div class="bg-success pt-1 pb-1 text-white text-center">
                    <p class="m-0 fs-6 fw-bold">References(Name, Address)</p>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center align-middle external-styles">
                        <thead class="text-center align-middle">
                            <tr>
                                <th class="norm-fields ext-pd">Name</th>
                                <th class="in-form-area">Address (Max 200 char)</th>
                                <th class="norm-fields">Contact No.</th>
                                <th class="norm-fields">Email</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <input type="text" class="form-control form-control-sm" asp-for="UsersReferences[0].Name" />
                            </td>
                            <td>
                                <textarea class="form-control form-control-sm" asp-for="UsersReferences[0].Address"></textarea>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" asp-for="UsersReferences[0].ContactNo" />
                                <span asp-validation-for="UsersReferences[0].ContactNo" class="text-danger" style="font-size: 0.75rem;"></span>
                            </td>
                            <td>
                                <input type="email" class="form-control form-control-sm" asp-for="UsersReferences[0].Email" />
                                <span asp-validation-for="UsersReferences[0].Email" class="text-danger" style="font-size: 0.75rem;"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control form-control-sm" asp-for="UsersReferences[1].Name" />
                            </td>
                            <td>
                                <textarea class="form-control form-control-sm" asp-for="UsersReferences[1].Address"></textarea>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" asp-for="UsersReferences[1].ContactNo" />
                                <span asp-validation-for="UsersReferences[1].ContactNo" class="text-danger" style="font-size: 0.75rem;"></span>
                            </td>
                            <td>
                                <input type="email" class="form-control form-control-sm" asp-for="UsersReferences[1].Email" />
                                <span asp-validation-for="UsersReferences[1].Email" class="text-danger" style="font-size: 0.75rem;"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                @* References form...... *@

                <div class="d-block mb-8">&nbsp;</div>
                <div class="d-block mb-8">&nbsp;</div>

                @*Image and Signature part......*@


                <div class="row">
                    <!-- Users Photo -->
                    <div class="col-md-6">
                        <label asp-for="UsersPhoto" class="form-label col-form-label-sm">Choose File</label>
                        <input asp-for="UsersPhoto" name="usersPhoto" type="file" class="form-control form-control-sm" id="fileInput-image" accept=".jpg,.jpeg,.png,.gif">

                        <div class="container image-preview-parent-containers">
                            <div class="image-preview-containers">
                                <div class="mt-3">
                                    <p>Constraints:</p>
                                    <ul class="text-muted">
                                        <li>Formats: .gif, .jpg, .png</li>
                                        <li>Max Size: 100KB</li>
                                        <li>Dimensions: 600 x 600 px</li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="mt-3 image-preview" id="previewContainer-image">
                                        <p class="text-muted" id="imageFeedback">No file chosen</p>
                                        <img id="preview-image" src="#" alt="" style="display:none; max-width:100%; border:1px solid #ccc; margin-top:10px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Users Signature -->
                    <div class="col-md-6">
                        <label asp-for="UsersSignature" class="form-label col-form-label-sm">Choose File</label>
                        <input asp-for="UsersSignature" name="usersSignature" type="file"
                               class="form-control form-control-sm"
                               id="fileInput-signature"
                               accept=".jpg,.jpeg,.png,.gif" />

                        <div class="container image-preview-parent-containers">
                            <div class="image-preview-containers">
                                <div class="mt-3">
                                    <p>Constraints:</p>
                                    <ul class="text-muted">
                                        <li>Formats: .gif, .jpg, .png</li>
                                        <li>Max Size: 60KB</li>
                                        <li>Dimensions: 300 x 80 px</li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="mt-3 image-preview" id="previewContainer-signature">
                                        <p class="text-muted" id="signatureFeedback">No file chosen</p>
                                        <img id="preview-signature" src="#" alt="" style="display:none; max-width:100%; border:1px solid #ccc; margin-top:10px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @*Image and Signature Part......*@

                <div class="d-block mb-8">&nbsp;</div>
                <div class="d-block mb-8">&nbsp;</div>

                @* Password Section.... *@

                <div class="mb-3 form-group row">
                    <label asp-for="UsersBasic.Password" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="UsersBasic.Password" class="form-control form-control-sm" type="password" id="PassVal" required />
                        <span asp-validation-for="UsersBasic.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 form-group row">
                    <label class="col-form-label-sm col-sm-4">Confirm Password</label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm" type="password" name="Password" id="confirmPassVal" required />
                        <span class="text-danger" id="confirmPassMsg">&nbsp;</span>
                    </div>
                </div>

                @* Captcha ............... *@
                <div class="container-fluid mt-2 p-0">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card text-center p-3">
                                <div class="d-flex justify-content-center gap-2">
                                    <dnt-captcha asp-captcha-generator-max="999999"
                                                 asp-captcha-generator-min="100000"
                                                 asp-captcha-generator-language="English"
                                                 asp-captcha-generator-display-mode="ShowDigits"
                                                 asp-use-relative-urls="true"
                                                 asp-placeholder="Security code as a number"
                                                 asp-validation-error-message="Please enter the security code as a number."
                                                 asp-too-many-requests-error-message="Too many requests! Please wait a minute!"
                                                 asp-font-name="Comic Sans MS, Verdana, Arial"
                                                 asp-font-size="36"
                                                 asp-fore-color="#008043"
                                                 asp-back-color="#008631"
                                                 asp-text-box-class="form-control"
                                                 asp-validation-message-class="text-danger"
                                                 asp-show-refresh-button="true"
                                                 asp-refresh-button-class="bi-arrow-counterclockwise btn-md text-success ms-2" />
                                </div>
                                <p class="fst-italic fs-6 fw-lighter mt-3">
                                    (If you cannot read the numbers, reload the CAPTCHA.)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                @* Captcha ............... *@

                <div class="d-block mb-8">&nbsp;</div>
                <div class="d-block mb-8">&nbsp;</div>


                @* Accept Terms.............. *@
                <div class="mb-3 form-group row ">
                    <div class="col-sm-12 ms-0 me-0 p-0">
                        <input class="form-check-input" type="checkbox" id="termsCheck">
                        <label for="termsCheck" class="col-form-label-sm p-0 fw-bold">I hereby declear that all of my information selected avobe is accordance with the truth. If any diviation found later my application will be treated as cancelled.</label>
                    </div>
                </div>
                @* Accept Terms.............. *@

                <div class="d-block mb-8">&nbsp;</div>
                <div class="d-block mb-8">&nbsp;</div>

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success form-control">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@* <script> *@
@*     document.addEventListener("DOMContentLoaded", function () { *@

@*         const spans = document.querySelectorAll('span'); *@
@*         spans.forEach(span =>{ *@
@*             span.innerHTML = '<p>Selected all spans</p>' *@
@*         });  *@
@*     }); *@
@* </script> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/registration_page_helper.js"></script>