@model ERecruitmentSystem02.Models.View.RetrieveIdNumber;
@addTagHelper *, DNTCaptcha.Core

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

@{
    ViewData["Title"] = "Forgot Id";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">

        <form asp-action="RetrieveIdNumber" method="post">
            <div class="mb-1">
                <label asp-for="Name" class="col-form-label-sm"></label>
                <input asp-for="Name" class="form-control form-control-sm" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <label asp-for="DateOfBirth" class="col-form-label-sm"></label>
                <input asp-for="DateOfBirth" class="form-control form-control-sm datepicker datej" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <label asp-for="ContactNo" class="col-form-label-sm col-sm-4"></label>
                <input asp-for="ContactNo" class="form-control form-control-sm" type="text" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>

            <div class="d-block mb-8">&nbsp;</div>
            <div class="d-block mb-8">&nbsp;</div>
            @* Captcha ............... *@
            <div class="container-fluid mt-2 p-0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card text-center p-3">
                            <div class="d-flex justify-content-center gap-2">
                                <dnt-captcha asp-captcha-generator-max="999999"
                                             asp-captcha-generator-min="100000"
                                             asp-captcha-generator-language="English"
                                             asp-captcha-generator-display-mode="ShowDigits"
                                             asp-use-relative-urls="true"
                                             asp-placeholder="Security code as a number"
                                             asp-validation-error-message="Please enter the security code as a number."
                                             asp-too-many-requests-error-message="Too many requests! Please wait a minute!"
                                             asp-font-name="Comic Sans MS, Verdana, Arial"
                                             asp-font-size="36"
                                             asp-fore-color="#008043"
                                             asp-back-color="#008631"
                                             asp-text-box-class="form-control"
                                             asp-validation-message-class="text-danger"
                                             asp-show-refresh-button="true"
                                             asp-refresh-button-class="bi-arrow-counterclockwise btn-md text-success ms-2" />
                            </div>
                            <p class="fst-italic fs-6 fw-lighter mt-3">
                                (If you cannot read the numbers, reload the CAPTCHA.)
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            @* Captcha ............... *@

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>


<script>
        let dateInputs = document.getElementsByClassName("datej");

        Array.from(dateInputs).forEach((dateInput) => {
        dateInput.addEventListener('keydown', function (event) {
            event.preventDefault();
        });

    dateInput.addEventListener('keyup', function(event) {
        event.preventDefault();
            });

    dateInput.addEventListener('input', function(event) {
        event.preventDefault();
            });
        });
</script>


@* <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> *@
@* <style> *@
@*     /* Make flatpickr popup smaller */ *@
@*     .flatpickr-calendar { *@
@*         font-size: 0.8rem; /* smaller font */ *@
@*     } *@

@*         /* Make the input field inside calendar smaller */ *@
@*         .flatpickr-calendar .flatpickr-days, *@
@*         .flatpickr-calendar .flatpickr-months, *@
@*         .flatpickr-calendar .flatpickr-weekdays { *@
@*             font-size: 0.8rem; *@
@*         } *@
@* </style> *@
@* <script> *@
@*     flatpickr(".datepicker", { *@
@*         dateFormat: "d/m/Y",   *@
@*         allowInput: true *@
@*     }); *@
@* </script> *@
